.navbar {
  // background-color: yellow;
  position: sticky;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  display: flex;
  align-items: center;

  border-bottom: 0.5px solid rgba(194, 224, 255, 0.08);

  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  background: rgba(4, 15, 55, 0.47843137254901963);
  transition: all 0.5s cubic-bezier(0.17, 0.17, 0.24, 1);
  .control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      img {
        height: 60px;
      }
    }
    .navlinks {
      display: flex;
      min-width: 700px;
      justify-content: space-between;
      overflow: hidden;
      .bgellipse {
        display: none;
      }
      .course {
        display: none;
      }
      .mobilelogobar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background-color: aqua;
        height: 4rem;
        width: 100%;
        display: none;
      }

      li {
        a {
          color: var(--color-white);
          font-family: var(--sub-font);
          font-size: var(--font-size-label1);
          font-weight: var(--font-weight-6);
          letter-spacing: var(--letter-spacing-1);
          line-height: var(--line-height-label1);
          font-weight: 700;
        }
      }
      .toggle {
        display: flex;
        cursor: pointer;
        height: 2.5rem;
        width: 2.5rem;
        border: none;
        // border: 2px solid var(--color-white);
        background-color: transparent;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        border-radius: 50%;
        &:nth-child(1) {
          display: flex;
          margin-left: 10px;
        }
        .icon {
          color: white;
        }
      }
    }
    .toggleContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 50px;
      .toggle {
        display: flex;
        cursor: pointer;
        height: 2.5rem;
        width: 2.5rem;
        border: none;
        // border: 2px solid var(--color-white);
        background-color: transparent;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        border-radius: 50%;
        display: none;
        &:nth-child(1) {
          display: flex;
          margin-left: 10px;
        }
        .icon {
          color: white;
        }
      }
    }
  }
}
@media (max-width: 1050px) {
  .navbar {
    .control {
      .navlinks {
        opacity: 1;
        transform: translateY(-100%);
        position: absolute;
        top: 0px;
        left: 0;
        min-width: 100%;
        background: var(--color-main-dark);
        height: calc(100vh);
        color: white;
        flex-direction: column;
        z-index: 10;
        justify-content: flex-start;
        padding: 20px;
        row-gap: 10px;
        .mobilelogobar {
          display: flex;
        }
        .course {
          display: inline;
        }
        .bgellipse {
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          z-index: -2;
          display: flex;
          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
        li {
          padding-top: 10px;
          padding-bottom: 20px;
          position: relative;
          z-index: 20;
          font-size: 1rem;
          // letter-spacing: 10px;
          border-bottom: 1px solid hsla(0, 0%, 100%, 0.0784313725490196);
          font-family: var(--font-robot-bold);
          &:last-child {
            border-bottom: none;
          }
        }
      }
      .hidden {
        transform: translateY(-100%);
        opacity: 1;
        transition: transform 0.15s linear;
      }
      .visible {
        transform: translateY(0);
        opacity: 1;
        transition: transform 0.15s linear;
      }
      .toggleContainer {
        width: 150px;
        .toggle {
          display: flex;
          &:nth-child(2) {
            display: flex;
            margin-left: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .navbar {
    .control {
      .navlinks {
        li {
          font-size: 1rem;
          padding-top: 7.5px;
          padding-bottom: 12.5px;
        }
      }
      .logo {
        img {
          height: 45px;
        }
      }
      .toggleContainer {
        width: 100px;
        .toggle {
          height: 2rem;
          width: 2rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}
