.course-section {
  position: relative;
  padding: 4rem 0;
  .course-background {
    .bg-ellipse {
      position: absolute;
      right: 0;
      top: -1.3rem;
      width: 30rem;
      z-index: -2;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }
}
