.container {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  h2 {
    color: white;
    font-size: 3rem;
    font-family: robot-bold;
    text-align: center;
  }
}
